01-intro/data/
02-experiment-tracking/data/
02-experiment-tracking/mlruns/
02-experiment-tracking/preprocessor/
02-experiment-tracking/Homework/data/
02-experiment-tracking/Homework/output/
03-orchestration/data/
03-orchestration/mlruns/
gpu.py

.vscode/
*.pkl
